[submodule "eval_board_examples/vek280_aie_vdu_example/plnx-aie-examples"]
	path = eval_board_examples/vek280_aie_vdu_example/plnx-aie-examples
	url = https://github.com/Xilinx/plnx-aie-examples.git
	branch = main
